{% extends 'layout.html' %}
{% block content %}
	<h1 class="header">About</h1>
	<p class="content", style="top:-10px;font-size:130%">
		I am a <a href="https://lambdaschool.com/" style="color:blue;">Lambda School</a>
		grad specializing in python data science and capable in Java/JS development. I'm
		open to any work if I get to program.
	</p>
	<p class="content", style="top:-10px">
		Trey Heaney, Michigan <a style="color:grey;"><i># TODO: Complete address implementation.</i></a></br>
		heaneytrey@gmail.com </br>
		313-412-7042
	</p>
	<center>
		<a href="" style="color:blue;font-size:27px">
			Resume
		</a>
	</center>
	<center>
		<ul>
			<li><a href="https://github.com/TreyHeaney/" style="background-color:white;color:blue">Github</a></li>
			<li><a href="https://www.linkedin.com/in/treyhe/" style="background-color:white;color:blue">Linkedin</a></li>
			<li><a href="mailto:heaneytrey@gmail.com" style="background-color:white;color:blue">Email</a></li>
		</ul>
	</center>
{% endblock content %}
